body {
  font-family: 'Roboto Mono';
  font-size: 15px;
  background-color: #0E1116;
  color: #fff;
}

#app {
  height: calc(100% - 20px);
  padding: 10px;
}

div.logo-box {
  position: relative;
  top: calc(50% - 200px);
  text-align: center;
}
